.donate{
    text-align: center;
    color: black;
}
h1{
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: blue;
}
.Tiller {
    text-align: center;
    color: red;
}
p {
    font-family: 'Charm', cursive;
 font-size: 35px;
  color: black;
}

button {
    padding: 35px; 
 background-color: red;
 margin-bottom: 40px;
 font-size: 15px;
 border-radius: 500px;
}
.pres-photos {
    display: flex;
    justify-content: space-around;
}
img {
    width: 190px;
    height:200px;
    border:2px dotted ;
}
.gif {
    text-align: center;
    padding-top: 20px;
}